<div class="grid text-center" style="--bs-gap: .25rem 1rem;">
      <div class="g-col-3">
        <i class="bi bi-bootstrap-reboot"></i>
      </div>
      <div class="g-col-4">
      </div>
      <div class="g-col-6">
        <h1 class="s-tit">Welcome to:</h1>
      </div>
      <div class="g-col-0">
      </div>
      <div class="g-col-6">
        <h1 class="s-titdos">Translate4me</h1>
      </div>
</div>

