<div class="d-flex align-items-center justify-content-center">
    <h1>Home Page</h1>
     <% if @usera %>
        Logged in as: <%= @usera.email %>
     <% end %>
</div>
<%
=begin%>
 <p> This is the Index Page for Alfonso Application</p>
<p>Hellouu, Alfonso 22 24</p> 
<%
=end%>
